[General]
;W;GlobalConfigDirectory=${ALLUSERSPROFILE}\Application Data\LISV_Mailager
;X;GlobalConfigDirectory=/usr/etc/LISV_Mailager

;W;UserDataDirectory=${APPDATA}\LISV_Mailager
;X;UserDataDirectory=$HOME/.LISV_Mailager
;X;UserDataDirectory=/home/.LISV_Mailager

;W;TempDataDirectory=${TMP}\LISV_Mailager_tmp
;X;TempDataDirectory=/tmp/LISV_Mailager_tmp

;W;ShareDataDirectory=${ALLUSERSPROFILE}\Application Data\LISV_Mailager
;X;ShareDataDirectory=/var/lib/LISV_Mailager

;DefaultLogLevel=2
;MailMessageContentViewer=0

[Network]
;CertificateAuthorityBundle=cacert.pem
;SslVerifyPeer=1
;SslVerifyHost=1
;HttpUserAgent=Mozilla/5.0 (compatible; Mailager/0.1) Gecko/20100101 curl/8.6.0
