// DesktopApp resource script
#define VS_VERSION_INFO 1

#include "Resource.h"
#include "Version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION FILE_VERSION_NUM
PRODUCTVERSION PROD_VERSION_NUM
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "Comments", APP_COMMENT "\0"
      VALUE "CompanyName", COMPANY_NAME "\0"
      VALUE "FileDescription", APP_NAME " desktop application\0"
      VALUE "FileVersion", FILE_VERSION_STR "\0"
      VALUE "InternalName", APP_NAME "\0"
      VALUE "LegalCopyright", APP_COPYRIGHT "\0"
      VALUE "OriginalFilename", APP_NAME ".exe\0"
      VALUE "ProductName", COMPANY_NAME " " APP_NAME "\0"
      VALUE "ProductVersion", PROD_VERSION_STR "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END

IcoAppMain ICON DISCARDABLE "../Resource/AppMain.ico"

IcoBtnNo ICON DISCARDABLE "../Resource/BtnNo.ico"
IcoBtnOk ICON DISCARDABLE "../Resource/BtnOk.ico"

IcoToolAttach ICON DISCARDABLE "../Resource/ToolAttach.ico"
IcoToolConfig ICON DISCARDABLE "../Resource/ToolConfig.ico"
IcoToolCreate ICON DISCARDABLE "../Resource/ToolCreate.ico"
IcoToolDelete ICON DISCARDABLE "../Resource/ToolDelete.ico"
IcoToolEdit ICON DISCARDABLE "../Resource/ToolEdit.ico"
IcoToolExport ICON DISCARDABLE "../Resource/ToolExport.ico"
IcoToolLayout ICON DISCARDABLE "../Resource/ToolLayout.ico"
IcoToolPrint ICON DISCARDABLE "../Resource/ToolPrint.ico"
IcoToolRefresh ICON DISCARDABLE "../Resource/ToolRefresh.ico"
IcoToolSave ICON DISCARDABLE "../Resource/ToolSave.ico"
IcoToolStop ICON DISCARDABLE "../Resource/ToolStop.ico"
IcoToolView ICON DISCARDABLE "../Resource/ToolView.ico"
